* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #eceef1;
}

main {
  width: 27%;
  margin: 5em auto 0 auto;
}

main section {
  text-align: center;
  margin-bottom: 1em;
}

main section h1 {
  padding: 0.5em 0;
  letter-spacing: 2px;
  color: #757575;
  font-size: 2rem;
}

main section .links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .links li {
  margin-right: 0.5em;
  font-size: 1.1rem;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .links li img {
  width: 20px;
}

form {
  border: 1px solid #c7c7c7;
  background-color: white;
  color: #404040;
}

form div:first-child {
  padding: 2em;
}

form article {
  text-align: center;
}

form article h2 {
  margin-bottom: 1em;
}

form article p:nth-child(3) {
  color: #0077c5;
  margin-bottom: 1.5em;
  font-size: 0.8rem;
}

form label {
  width: 100%;
  margin-bottom: 0.6em;
  display: block;
}

form input {
  width: 100%;
  margin-bottom: 3em;
  background-color: #fcfcfc;
  border: 1px solid #c7c7c7;
  padding: 0.8em;
  border-radius: 3px;
}

form #tel-message {
  margin-top: -3em;
  margin-bottom: 2.5em;
  font-size: 0.6em;
}

form button {
  width: 100%;
  color: white;
  background-color: #0077c5;
  border: none;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px #404040;
          box-shadow: 0px 0px 3px #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  margin: 0.8em 0 2.5em 0;
}

form button img {
  margin-right: 0.8em;
}

form .terms {
  text-align: center;
  font-size: 0.7rem;
  color: #757575;
}

form .terms span {
  color: #0077c5;
}

form .recaptcha {
  width: 100%;
  background-color: #eceef1;
  padding: 2em 0;
}

aside {
  position: absolute;
  top: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-size: 0.8rem;
  width: 22%;
}

aside div {
  text-align: center;
  padding: 0.6em;
}

aside div p {
  padding: 0.2em;
}

aside div p:last-child {
  color: #0077c5;
}

aside button {
  width: 35%;
  padding: 0.8em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #404040;
  background-color: #0077c5;
  border-radius: 5px;
  color: white;
}

aside button img {
  margin-right: 0.5em;
}

footer {
  padding: 2em 0;
  text-align: center;
  color: #404040;
  font-size: 0.8em;
}

footer a {
  color: #404040;
  text-decoration: none;
  margin-right: 0.6em;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0.5em 0;
}
/*# sourceMappingURL=style.css.map */