* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #eceef1;
}

main {
    width: 27%;
    margin: 5em auto 0 auto;
    section {
        text-align: center;
        margin-bottom: 1em;
        h1 {
            padding: 0.5em 0;
            letter-spacing: 2px;
            color: #757575;
            font-size: 2rem;
        }
        .links {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                margin-right: 0.5em;
                font-size: 1.1rem;
                color: #757575;
                display: flex;
                align-items: center;
            }
            li img {
                width: 20px;
            }
        }
    }
}

form {
    border: 1px solid #c7c7c7;
    background-color: white;
    color: #404040;

    div:first-child {
        padding: 2em;
    }

    article {
        h2 {
            margin-bottom: 1em;
        }
        text-align: center;
        p:nth-child(3) {
            color: #0077c5;
            margin-bottom: 1.5em;
            font-size: 0.8rem;
        }
    }
    label {
        width: 100%;
        margin-bottom: 0.6em;
        display: block;
    }
    input {
        width: 100%;
        margin-bottom: 3em;
        background-color: #fcfcfc;
        border: 1px solid #c7c7c7;
        padding: 0.8em;
        border-radius: 3px;
    }
    #tel-message {
        margin-top: -3em;
        margin-bottom: 2.5em;
        font-size: 0.6em;
    }
    button {
        width: 100%;
        color: white;
        background-color: #0077c5;
        border: none;
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #404040;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        margin: 0.8em 0 2.5em 0;
        img {
            margin-right: 0.8em;
        }
    }
    .terms {
        text-align: center;
        font-size: 0.7rem;
        color: #757575;
        span {
            color: #0077c5;
        }
    }
    .recaptcha {
        width: 100%;
        background-color: #eceef1;
        padding: 2em 0;
    }
}

aside {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #757575;
    font-size: 0.8rem;
    width: 22%;

    div {
        text-align: center;
        padding: 0.6em;
        p {
            padding: 0.2em;
        }
        p:last-child {
            color: #0077c5;
        }
    }
    button {
        width: 35%;
        padding: 0.8em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #404040;
        background-color: #0077c5;
        border-radius: 5px;
        color: white;
        img {
            margin-right: 0.5em;
        }
    }
}

footer {
    padding: 2em 0;
    text-align: center;
    color: #404040;
    font-size: 0.8em;
    a {
        color: #404040;
        text-decoration: none;
        margin-right: 0.6em;
        &:hover {
            text-decoration: underline;
        }
    }
    p {
        margin: 0.5em 0;
    }
}
